// Header

header {
    text-align: center;

    .logo {
        width: 20rem;
        margin: 0 auto;
        padding: 1rem;
        display: inline-block;
    }
    a {
        text-decoration: none;
    }
    @include mq($tablet){
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 em(12) em(12);
        padding-top: em(12);

    }
    @include mq($desktopWide){
        margin: em(20);
        padding-top: 0;
       
    }
}

