// Movies

.movies-container,
.results {
    position: relative;
    padding: em(15);
    display: grid;
        grid-template-columns: 1fr 1fr;
        gap: em(14);

    @include mq($tablet){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: em(14);
    }

    @include mq($desktop){
        padding: em(20);
        grid-template-columns: repeat(6, 1fr);
        gap: em(14);
    }
   
  
}
