// Variables

// Colors
$textColor: white;
$altTextColor: black;
$featureColor: hsl(359, 85%, 53%);
$highlightColor: #c9c9c9;
$buttonColor: #5e5e5e;

// Breakpoints
$tablet: em(540);
$desktop: em(820);
$desktopWide: em(1000);

//spacing
$tiny-space: .5rem;
$small-space: 1rem;
$medium-space: 1.5rem;
$large-space: 2rem;
$header-padding: 1rem 1rem 0;
